@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x: hidden;
}
header ul li{
  @apply px-4 cursor-pointer
}

.bg-primary{
  background:#989494;
}

@media (max-width: 640px) {
  .about-height {
      height: 180vh; /* Adjust as needed */
  }
}

@media (max-width: 640px) {
  .skills-height {
      height: 200vh; /* Adjust as needed */
  }
}

.bg-secondary{
  background: #626262;
}



